.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 69, 153);
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.playerContainer {
    width: calc(100%-0.6rem);
    height: 60%;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
}

.pcContainer {
    width: calc(100%-0.6rem);
    height: 40%;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
}

.playerBattlezone {
    width: calc(100%-0.3rem);
    height: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0.3rem;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerView {
    width: calc(100%-0.3rem);
    height: 50%;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
}

.pcView {
    width: calc(100%-0.3rem);
    height: 23.5%;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
}

.pcBattlezone {
    width: calc(100%-0.3rem);
    height: 76.5%;
    background-color: rgb(255, 255, 255);
    margin: 0.3rem;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerShields {
    width: 10%;
    height: calc(100%-0.2rem);
    margin: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 124, 160);
}

.playerHand {
    width: 70%;
    height: calc(100%-0.2rem);
    background-color: rgb(255, 255, 255);
    margin: 0.2rem;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerMana {
    width: 10%;
    height: calc(100%-0.2rem);
    background-color: rgb(0, 130, 134);
    margin: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.playerGraveyard {
    width: 10%;
    height: calc(100%-0.2rem);
    background-color: rgb(0, 0, 0);
    margin: 0.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pcShields {
    width: 20%;
    height: calc(100%-0.2rem);
    background-color: rgb(86, 124, 160);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pcMana {
    width: 20%;
    height: calc(100%-0.2rem);
    background-color: rgb(118, 218, 98);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.manaMenu {
    width: 15%;
    height: calc(100%-0.2rem);
    background-color: rgb(118, 218, 98);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.summonMenu {
    width: 15%;
    height: calc(100%-0.2rem);
    background-color: rgb(118, 218, 98);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.attackMenu {
    width: 15%;
    height: calc(100%-0.2rem);
    background-color: rgb(118, 218, 98);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.endTurnMenu {
    width: 15%;
    height: calc(100%-0.2rem);
    background-color: rgb(118, 218, 98);
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.pcShieldsText {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.pcManaText {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.playerShieldsText {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.playerManaText {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.playerGraveyardText {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card {
    width: 10rem;
    height: 92%;
    display: inline-block;
    border: 0.3rem;
    border-style: solid;
    border-color: white;
    flex-shrink: 0;
}

.cardSelected {
    border-color: rgb(179, 9, 9);
}

.tappedCard {
    transform: rotate(90deg);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.menuSelected {
    border: 0.3rem;
    border-style: solid;
    border-color: red;
}

.gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winnerText {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.winMotive {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.playerWinner {
    background-color: green;
}

.pcWinner {
    background-color: rgb(109, 32, 32);
}